.poi {
  background-image: linear-gradient(to bottom, #02855d, #028f8c);
  border-radius: 50%;
  border: 1px solid black;
  text-align: center;
  position: fixed;
  font-size: 30px;
  color: white;
  z-index: -1;
  box-shadow: 5px 10px 30px black;
  text-stroke: 1px black;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
  &:hover {
    background-image: linear-gradient(to bottom, #03b07b, #026e6b);
  }
}

.branch {
  @extend .poi;
  height: 200px;
  width: 200px;
  padding-top: 5.1%;
}

.branchRoot {
  @extend .poi;
  height: 180px;
  width: 180px;
  padding-top: 5%;
  margin-top: 20%;
  margin-left: 42%;
}

.zero {
  @extend .branch;
  margin-top: 31%;
  margin-left: 25%;
}

.one {
  @extend .branch;
  margin-top: 10%;
  margin-left: 23%;
}

.two {
  @extend .branch;
  margin-top: 1%;
  margin-left: 42%;
}

.three {
  @extend .branch;
  margin-top: 11%;
  margin-left: 61%;
}

.four {
  @extend .branch;
  margin-top: 31%;
  margin-left: 58%;
}
