.poi {
  border-radius: 50%;
  text-align: center;
  position: fixed;
  font-size: 30px;
  z-index: -1;
}

.branch {
  @extend .poi;
  background-color: lightpink;
  height: 200px;
  width: 200px;
  padding-top: 75px;
  &:hover {
    background-color: lightslategrey;
  }
}

.branchRoot {
  @extend .poi;
  background-color: grey;
  height: 180px;
  width: 180px;
  padding-top: 65px;
  margin-top: 20%;
  margin-left: 42%;
  color: white;
}

.zero {
  @extend .branch;
  color: red;
  margin-top: 31%;
  margin-left: 25%;
}

.one {
  @extend .branch;
  color: purple;
  margin-top: 10%;
  margin-left: 23%;
}

.two {
  @extend .branch;
  color: black;
  margin-top: 1%;
  margin-left: 42%;
}

.three {
  @extend .branch;
  color: green;
  margin-top: 11%;
  margin-left: 61%;
}

.four {
  @extend .branch;
  color: brown;
  margin-top: 31%;
  margin-left: 58%;
}
