.branchRoot {
  background-color: grey;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  text-align: center;
  padding-top: 65px;
  // display: block;
  margin-top: 20%;
  margin-left: 42%;
  font-size: 30px;
  position: fixed;
  color: white;
}

.branch {
  background-color: lightpink;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  text-align: center;
  padding-top: 100px;
  margin-top: 43%;
  margin-left: 43%;
}

.titles {
  color: orangered;
  font-size: 30px;
}

.zero {
  color: purple;
  margin-top: 10%;
  margin-left: 23%;
  font-size: 30px;
  background-color: lightpink;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  text-align: center;
  padding-top: 75px;
  position: fixed;
}

.zero:hover {
  background-color: lightslategrey;
}

.one {
  color: red;
  margin-top: 31%;
  margin-left: 25%;
  font-size: 30px;
  background-color: lightpink;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  text-align: center;
  padding-top: 75px;
  position: fixed;
  
}

.one:hover {
  background-color: lightslategrey;
}

.two {
  color: black;
  margin-top: 1%;
  margin-left: 42%;
  font-size: 30px;
  background-color: lightpink;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  text-align: center;
  padding-top: 75px;
  position: fixed;
  
}

.two:hover {
  background-color: lightslategrey;
}

.three {
  color: green;
  float: right;
  margin-top: 11%;
  margin-left: 61%;
  font-size: 30px;
  background-color: lightpink;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  text-align: center;
  padding-top: 75px;
  position: fixed;
  
}

.three:hover {
  background-color: lightslategrey;
}

.four {
  color: brown;
  float: right;
  margin-top: 31%;
  margin-left: 58%;
  font-size: 30px;
  background-color: lightpink;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  text-align: center;
  padding-top: 75px;
  position: fixed;
  
}

.four:hover {
  background-color: lightslategrey;
}