.listbox {
  background-color: white;
  border-radius: 14px;
  color: black;
  font-size: 15px;
  font-weight: bold;
  position: fixed;
  text-align: left;
  padding-left: 8px;
  padding-right: 12px;
  right: -26%;
  height: 88%;
  width: 29%;
  overflow: auto;
  transition: right 500ms;
  border: 1px solid black;
}

.listbox:hover {
  right: -3%;
}

.shareButtonWrapper {
  padding: 0 0 0 40px;
}

ul {
  list-style: none;
}