.listbox {
  background-color: white;
  border-radius: 14px;
  color: black;
  font-size: 15px;
  font-weight: bold;
  position: fixed;
  text-align: left;
  padding-left: 8px;
  right: -26%;
  height: 88%;
  width: 29%;
  overflow: auto;
}

.listbox:hover {
  right: 0%;
}
