.branchRoot {
  background-color: saddlebrown;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  text-align: center;
  padding-top: 100px;
  display: inline-block;
  position: relative;
}

.branch {
  background-color: lightpink;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  text-align: center;
  padding-top: 100px;
  display: inline-block;
  position: relative;
  float: left;
}

.poiBranch {
  background-color: yellow;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  text-align: center;
  padding-top: 100px;
  display: inline-block;
  position: relative;
  float: left;  
}

.poiBranchClick {
  background-color: white;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  text-align: center;
  padding-top: 100px;
  display: inline-block;
  position: relative;
  float: left;  
}