.poiDetail {
  background-color: slategrey;
  border-radius: 12px;
  color: white;
  display: inline-block;
  font-size: 14px;
  position: absolute;
  text-align: left;
  padding: 12px;
  width: 25%;

}

h4 {
  color: darkblue;
}

a {
  color: darkblue;
}

.picDetail {
  text-align: center;
}

.addButton {
  margin-left: 25px;
  margin-bottom: 20px;
}

