.poiDetail {
  background-color: slategrey;
  border-radius: 12px;
  color: white;
  display: inline-block;
  font-size: 14px;
  position: absolute;
  text-align: left;
  width: 50%;
  height: inherit;
}

h4 {
  color: darkblue;
}

.picDetail {
  display:table-cell;
  vertical-align:middle;
  margin:auto;
  max-width: 244px;
  padding-top: 5px;
}

.detailBox {
  padding-bottom: 3%;
}
