.poiDetail {
  background-color: slategrey;
  border-radius: 12px;
  color: white;
  display: inline-block;
  font-size: 14px;
  position: absolute;
  text-align: left;
  padding: 12px;
  width: 50%;
  height: inherit;
}

h4 {
  color: darkblue;
}

.picDetail {
  text-align: center;
}

.detailBox {
  padding-bottom: 3%;
}

